
body {
    background-color:#151b2b;
}


.banner {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif

}

.hi h1 {
    padding-left: 1.125em;
    font-weight: 700;
    font-size: 5em;

}

.typewriter h2 {
    margin-top: -25px;
    padding-left: 2em;
    font-size: 3em;
    font-weight: 600;
    white-space: nowrap;
    overflow-x: hidden;
    border-right: 0.15em solid orange;
    animation: typing 1.5s steps(37) 1s normal both, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 18em }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}

.Profile-Photo {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    right: 5%;
    position: absolute;
}