.Nav-header {
    background-color: #81633F;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

.Nav-div {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.Nav-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    float: none;
}

.Home {
    display: inline-flex;
    padding: 14px 16px;
    margin-right: 4px;
    text-decoration: none;
    color: #f2f2f2;
    font-size: 20px;
    
}

.Home:hover {
    background-color: #3F5D81;
}

.About {
    display: inline-flex;
    padding: 14px 16px;
    margin-right: 4px;
    text-decoration: none;
    color: #f2f2f2;
}

.About:hover {
    background-color: #3F5D81;
}

.Projects {
    display: inline-flex;
    padding: 14px 16px;
    margin-right: 4px;
    text-decoration: none;
    color: #f2f2f2;
}

.Projects:hover {
    background-color: #3F5D81;
}

.Contact {
    display: inline-flex;
    padding: 14px 16px;
    margin-right: 4px;
    text-decoration: none;
    color: #f2f2f2;
}
.Contact:hover {
    background-color: #3F5D81;
}

.Nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
